{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-center">
            {{ form_start(form) }}
            <div class="d-flex flex-column">
                {{ form_widget(form.name, { 'attr' : { 'placeholder': 'Nom' }}) }}
                <input class="btn btn-secondary mt-3" type='submit' value='Ajouter cette catégorie'>
            </div>
            {{ form_end(form) }}
    </div>
{% endblock %}