{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-content-center">
        {{ include('episode/_form.html.twig') }}

        <a href="{{ path('episode_index') }}">back to list</a>
    </div>
{% endblock %}
