{% extends 'emailLayout.html.twig' %}
{% block body %}
    <h1>{{ entity.title }} has been created</h1>
    <p>Hello, the new episode {{ entity.title }} has been created on Wild Series</p>
    <p>Summary : {{ entity.synopsis }}</p>
{% endblock %}