{% extends 'emailLayout.html.twig' %}
{% block body %}
    <h1>New program {{ entity.title }} created</h1>
    <p>Hello, the new program {{ entity.title }} has been created on Wild Series</p>
    <p>Summary : {{ entity.summary }}
{% endblock %}