
.category-item {
  display: flex;
  width: 150px;
  height: 30px;
  background-color: $secondary;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.table {
  color: $light;
}