{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="home-sections">
            <section>
                <div class="section1">
                    <h2>Bienvenue sur Wild Séries</h2>
                    <p>Trouvez vos films preférés et ajoutez les à vos favoris !</p>
                </div>
            </section>
            <section>
                <img src="{{ asset('build/images/ardoise.svg') }}" alt="ACME logo">
            </section>
        </div>
    </div>
{% endblock %}